.game {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .title {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: bolder;
        color: $black;
    }
    .board {
        display: flex;
        justify-content: center;
    }
    .status {
        display: flex;
        justify-content: center;
    }
    .restart 
    {
        display: flex;
        justify-content: center;
        padding: 5%;
        button{
            font-family: 'Retro60Prime';
        }
    }
}