.square {
    background: $white;
    border: 1px solid $black;
    font-size: 5vw;
    font-weight: bold;
    line-height: 10vw;
    height:10vw;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    width: 10vw;

    &:focus {
        outline: none;
    }
}